.Sidebar-container{
  width: 220px;
  line-height: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 20px;
  display: grid;
  grid-template-rows:75px 530px 170px;
  border-right: 1px solid rgb(205, 205, 205);
  position: fixed;
}
.insta-logo{
  padding-left: 13px;
  display: flex;
  align-items: center;
}
.instagram-text-icon-img{
  object-fit: cover;
  height: 40px;
  width: 110px;
  padding-top: 40px;
}
.sidebar-1st-group-container{
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding-left: 13px;
  margin-top:25px;
  padding-top: 9px;
}
.sidebar-1st-group-block{
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar-icons{
  height: 23px;
}
.sidebar-text-p{
  padding-left: 20px;
}
.home-sidebar-text-p{
  padding-left: 20px;
  font-weight: bold;
}
.sidebar-profile-img{
  height: 26px;
  width: 26px;
  object-fit: cover;
  border-radius: 50%;
}
.sidebar-2nd-group-container{
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding-left: 12px;
  margin-top: -5px;
}
.sidebar-2nd-group-block{
  display: flex;
  align-items: center;
  margin-top: 1.5px;
}
.meta-ai-group-block{
  display: flex;
  align-items: center;
  margin-top: 10.5px;
}
.sidebar-2nd-icons{
  height: 23px;
}
.meta-sidebar-icons{
  object-fit: cover;
  height: 37px;
  width: 37px;
  margin-left: -4.5px;
}
.meta-ai-sidebar-text-p{
  padding-left: 14px;
}
.msg-number{
  position: absolute;
  background-color: #fa3333;
  font-size: 13px;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 15px;
  top: -8px;
  right: 168px;
  border: solid 2px rgb(255, 255, 255);
}
.heart-dot{
  position: absolute;
  background-color: #fa3333;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 2px rgb(255, 255, 255);
  top: -3px;
  right: 179px;
}