.msg-conatainer-bup{
  background-color: rgb(255, 255, 255);
  height: 54px;
  width: 250px;
  position: fixed;
  flex-direction: row;
  bottom: 100px;
  right: 32px;
  border-radius: 50px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.switchbar-container{
  width: 320px;
  padding-right: 125px;
}
.switchbar-box{
  height: 547px;
  margin-top: 36px;
}

.account-container{
  height: 44px;
  display: flex;
  flex-direction: row;
  margin: 0 20px 18px 9px;

}
.switchbar-account-img{
  height: 44px;
  width: 44px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 12px;
}
.switchbar-account-info-box{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 2px 0 2px 0;
}
.switchbar-account-username{
  font-size: 14px;
  font-weight: 500;
}
.switchbar-account-name{
  font-size: 14px;
  color: rgb(115, 115, 115);
}
.switchbar-account-btn{
  border: none;
  color: rgb(49, 67, 227);
  font-weight: 600;
  font-size: 12px;
  background: none;
}
.suggested-n-foryou-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 25px 10px 9px;
}
.suggested-for-you-p{
  flex: 1;
  font-weight: 500;
  color: rgb(115, 115, 115);
  font-size: 14px;
}
.see-all-p{
  font-weight:600;
  font-size: 13px;
}
.suggested-account-container{
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.switchbar-followed-by-p{
  font-size: 13px;
  color: rgb(115, 115, 115);
}
.switchbar-follw-btn{
  border: none;
  background: none;
  color: rgb(49, 67, 227);
  font-size: 12px;
  font-weight: bold;
}
.about-locations-c-box{
  padding-left: 9px;
}
.about-locations-1st-p{
  font-size: 12px;
  color: rgb(209, 209, 209);
  width: 250px;
}
.about-locations-2nd-p{
  font-size: 12px;
  color: rgb(209, 209, 209);
  width: 270px;
  margin-top: 22PX;
}
.msg-conatainer{
  background-color: rgb(255, 255, 255);
  height: 54px;
  width: 230px;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 32px;
  right: 32px;
  border-radius: 50px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  gap: 10px;
  padding-left: 20px;
}
.msg-img-num-box{
  position: relative;
}
.msg-number-box{
  position: absolute;
  background-color: #fa3333;
  font-size: 13px;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 15px;
  border: solid 2px rgb(255, 255, 255);
  left: 3;
}
.sidebar-icons{
  margin-top: 5px;
}
.msg-img-container{
  background-color: red;
  position: relative;
  margin-bottom:25px;
}
.msg-p{
  font-weight: 600;
  padding-left: 20px;
}
.msg-img-container img{
  height: 23px;
  width: 23px;
  border-radius: 50%;
  border: solid 2px white
}
.msg-1-img{
  position: absolute;
  z-index: 10;
}
.msg-2-img{
  position: absolute;
  left: 18px;
  z-index: 9;
}
.msg-3-img{
  position: absolute;
  left: 36px;
  z-index: 8;
}
.msg-4-img{
  position: absolute;
  left: 54px;
  z-index: 7;
}