.story-container{
  background-color: #ffffff;
  height: 116px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 140px;
  gap: 20px
}
.story-box{
  width: 84px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}
.story-img{
  object-fit: cover;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid 3.5px rgb(255, 255, 255);
  z-index: 10;
}
.story-p{
  font-size: 12px;
}
.story-bg{
  position: absolute;
  height: 88px;
  width: 88px;
  border-radius: 50%;
  top: -3px;
}