.feed-container{
  flex: 1;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feed-inner-container{
  background-color: rgb(255, 255, 255);
  width: 632px;
  height: 100%;
  padding-top: 16px;
}.feed-post-container{
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}