.post-container{
  background-color: rgb(127, 242, 255);
  height: 100%;
  width: 470px;
  margin-top: 30px;
}
.post-box{
  background-color: #3af7c8;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 0.800px solid rgb(200, 200, 200);
  margin-bottom: 20px;
  border-radius: ;
}
.post-1st-box{
  background-color: #ffffff;
  width: 100%;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4px;
  padding-bottom: 10px;
}
.post-profile-img{
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.post-1st-box-info{
  display: flex;
  align-items: center;
  gap: 4px;
}
.post-username-p{
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
}
.profile-usermane-middledot-p{
  font-size: 30px;
  padding-bottom: 3px;
  color: rgb(106, 106, 106);
}
.post-time-p{
  font-size: 14px;
  color: rgb(106, 106, 106);
}
.post-follow-btn{
  font-size: 14px;
  font-weight: 600;
  color: rgb(49, 67, 227);
  border: none;
  background: none;
  margin-top: 4px;
}
.post-1st-box-moreoptions-img{
  height: 15px;
  margin-left: auto;
}
.post-2nd-box{
  background-color: #3afb53;
  width: 100%;
}
.post-2nd-box-img{
  width: 100%;
}
.post-3rd-4th-box{
  background-color: blue;
  height: 144px;
}
.post-3rd-box{
  background-color: #ffe9c4;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 4px;
}